parameters:
    level: max
    paths:
        - src
    ignoreErrors: 
        - identifier: class.nameCase
    excludePaths: 
        - ./src/ServiceProviders
        - ./src/Config.php
    reportUnmatchedIgnoredErrors: true
